<!-- vote-form.component.html -->
<div class="container mt-4">
  <h2 class="text-center">Vote for Topic</h2>
  <div class="row">
    <form
      class="col-md-8 offset-md-2"
      [formGroup]="voteForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group mb-3">
        <label for="selectedOption" class="mb-2">Select Option</label>
        <select
          class="form-control"
          id="selectedOption"
          formControlName="selectedOption"
          required
        >
          <option *ngFor="let option of topic?.options" [value]="option.option">
            {{ option.option }}
          </option>
        </select>
      </div>

      <div class="mb-3 d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-success">Send Vote</button>
      </div>
    </form>
  </div>
</div>
